@*add leave modal*@
<div class="modal fade" id="staffLeaveRequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-umbrella-beach mr-2 text-dark"></i>İzin Ekle
                    </h3>

                </div>
                <button type="button" class="text-white bg-danger link-2 text-white bg-danger" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="modalAddLeaveRequestForm">

                <input type="hidden" name="LeaveTypeId" id="LeaveTypeId" value="14" />
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">
                                    <div class="row">

                                        <div class="col-md-5">
                                            @if ((User.IsInRole("CreateRequestAbilityToEveryone") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                            {
                                                <div class="form-group row">
                                                    <label>Personel *</label>
                                                    <div class="input-group">
                                                        <select id="staffSelect45" style=" width: 100% !important;"  multiple data-live-search="true" class="form-control selectpicker form-control-solid form-control-lg" name="StaffId" asp-items="ViewBag.Staffs">
                                                        </select>
                                                        
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <input id="staffAutoId" type="hidden" value="@ViewBag.StaffId" />

                                            }
                                            <div class="form-group row ">
                                                <label>Başlangıç Tarihi *</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_14" data-target-input="nearest">
                                                        <input name="LeaveStartDate" id="LeaveStartDate_r" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_14" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_14" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row ">
                                                <label>Toplam Gün *</label>
                                                <div class="input-group">
                                                    <input id="kt_touchspin_1" type="text" class="form-control form-control-lg text-center" value="0" name="TotalDay" placeholder="Toplam" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label>İzin Türü *</label>
                                                <div class="input-group dropdown">
                                                    <a class="form-control form-control-lg form-control-solid btn btn-secondary dropdown-toggle " value="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <p class="my-auto text-left pl-2" id="selectLeaveTypeBtnText">Yıllık İzin </p>
                                                    </a>

                                                    <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                                        <ul class="p-0" style="cursor:pointer">
                                                            @foreach (var item in ViewBag.LeaveTypes)
                                                            {
                                                                var tittle = "";
                                                                if (item.IsFree)
                                                                {
                                                                    tittle += "Ücretsiz İzin ";
                                                                }
                                                                else
                                                                {
                                                                    tittle += "Ücretli İzin ";
                                                                }
                                                                if (item.TotalDay == 0)
                                                                {
                                                                    tittle += "Süresiz " + item.Description;
                                                                }
                                                                else
                                                                {
                                                                    tittle += item.TotalDay + " Gün " + item.Description;
                                                                }
                                                                <li class="dropdown-item" id="@item.Id" name="@item.Name" onclick="ChangeLeaveType(this)">@item.Name <a data-toggle='tooltip' title='@tittle' class="float-right"><i class='fas fa-info-circle bg-success '></i></a></li>

                                                            }

                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group row ">
                                                <label>Bitiş Tarihi *</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_15" data-target-input="nearest">
                                                        <input name="LeaveEndDate" id="LeaveEndDate_r" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_15" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_15" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label>Açıklama</label>
                                                <div class="input-group">


                                                    <textarea type="text" class="form-control form-control-lg form-control-solid" id="Description" name="Description" placeholder="Açıklama"></textarea>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>


                    </div>

                    <!--end::Form-->
                </div>

                @if ((User.IsInRole("CreateRequestAbilityToEveryone") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                {


                    <div class="modal-footer justify-content-between">

                        <div class="form-group row pr-5 mr-5">
                            <div class="col-md-3 ">
                                <div class="input-group ">
                                    <span class="switch switch-success switch-sm">
                                        <label>
                                            <input type="checkbox" id="IsCheckedApprove" name="IsCheckedApprove" />
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-9 my-auto"> Onay sürecine dahil edilmeden onaylansın </div>

                        </div>

                        <div>
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                            <button type="button" onclick="leaveRequestClickFunction()" class="btn btn-primary font-weight-bold">Kaydet</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="modal-footer">
                        <div>
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                            <button type="button" onclick="leaveRequestClickFunction()" class="btn btn-primary font-weight-bold">Kaydet</button>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
</div>
<script src="~/assets/js/pages/crud/forms/widgets/bootstrap-touchspin.js"></script>
<script src="~/assets/js/pages/crud/forms/widgets/select2.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    $('#staffSelect').select2({
        placeholder: 'Personel Seçiniz'
    });

    $('.selectpicker').selectpicker();

    $('input[name="LeaveStartDate"]').mask('00.00.0000');
    $('input[name="LeaveEndDate"]').mask('00.00.0000');
</script>
<script>

    function ChangeLeaveType(elem) {
        var id = $(elem).attr("id");
        var name = $(elem).attr("name");

        $("#LeaveTypeId").val(id);
        $("#selectLeaveTypeBtnText").text(name);
    }
</script>

<script>
    var fvRequestLeave = FormValidation.formValidation(
        document.getElementById('modalAddLeaveRequestForm'),
        {
            fields: {
                LeaveStartDate: {
                    validators: {
                        notEmpty: {
                            message: 'Tarih alanı boş geçilemez'
                        },
                        date: {
                            format: 'DD.MM.YYYY',
                            message: 'Geçerli bir tarih girin'
                        }
                    }
                },
                LeaveEndDate: {
                    validators: {
                        notEmpty: {
                            message: 'Tarih alanı boş geçilemez'
                        },
                        date: {
                            format: 'DD.MM.YYYY',
                            message: 'Geçerli bir tarih girin'
                        }
                    }
                },
                TotalDay: {
                    validators: {
                        notEmpty: {
                            message: 'Toplam gün alanı boş geçilemez',
                        },
                        between: {
                            min: 1,
                            max: 365,
                            message: 'Toplam gün 0 olamaz',
                        }

                    }
                },
                Description: {
                    validators: {
                        stringLength: {
                            max: 999,
                            message: '1000 karakterden az girin'
                        }
                    }
                }
            },

            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap(),
                // Validate fields when clicking the Submit button

            }
        }
    );
    function leaveRequestClickFunction() {
        fvRequestLeave.validate().then(function (status) {
            if (status == 'Valid') {
                var formData = {
                    LeaveTypeId: $("#LeaveTypeId").val(),
                    LeaveStartDate: $("#LeaveStartDate_r").val(),
                    LeaveEndDate: $("#LeaveEndDate_r").val(),
                    Description: $("#Description").val(),
                    StaffId: $('#staffSelect45').val() !== undefined ? $('#staffSelect45').val() : $('#staffAutoId').val(),
                    TotalDay: $("#kt_touchspin_1").val(),
                    IsCheckedApprove: $("#IsCheckedApprove").is(":checked")
                };

                if ($('#staffSelect45').val() !== undefined) {                
                    $.ajax({
                        method: 'post',
                        url: '/StaffLeave/AddStaffLeaveMultipleWithAjax',
                        data: formData,
                        success: function (data) {
                            if (data == "true") {
                                Swal.fire({
                                    title: "Eklendi!",
                                    text: "Kaydınız eklendi.",
                                    icon: "success",
                                    showCancelButton: false,

                                }).then(function () {
                                    window.location.reload();
                                })
                            }

                        }
                    })
                }
                else {
                    $.ajax({
                        method: 'post',
                        url: '/StaffLeave/AddStaffLeaveWithAjax',
                        data: formData,
                        success: function (data) {
                            if (data == "true") {
                                Swal.fire({
                                    title: "Eklendi!",
                                    text: "Kaydınız eklendi.",
                                    icon: "success",
                                    showCancelButton: false,

                                }).then(function () {
                                    window.location.reload();
                                })
                            }

                        }
                    })
                }  
            }
        });
    }

</script>
<script>
    var date = new Date();
    $("#LeaveStartDate_r").val(date.getDate())
    // Demo 7
    $('#kt_datetimepicker_14').datetimepicker({

    });
    $('#kt_datetimepicker_15').datetimepicker({
        useCurrent: false
    });

    $('#kt_datetimepicker_14').on('change.datetimepicker', function (e) {
        $('#kt_datetimepicker_15').datetimepicker('minDate', e.date);


    });
    $('#kt_datetimepicker_15').on('change.datetimepicker', function (e) {
        $('#kt_datetimepicker_14').datetimepicker('maxDate', e.date);
    });
</script>