@model UpdateStaffPersonalInfoDto
@{
    ViewData["Title"] = "Kişisel Bilgiler";
    Layout = "~/Views/Shared/_Layout.cshtml";



}
@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
}
<div class="card card-custom">
    @await Component.InvokeAsync("StaffNavbar", new { id = Model.StaffId })
    <div class="card-body">
        <div class="d-flex flex-row">
            @await Component.InvokeAsync("StaffCard", new { id = Model.StaffId })
            <div class="tab-content w-100">
                <div class="tab-pane active " role="tabpanel" id="kt_apps_contacts_view_tab_3">
                    <div class="flex-row-fluid ml-lg-8">
                        <!--begin::Form-->
                        <form class="form" asp-action="UpdateStaffPersonalInfo" asp-controller="StaffPersonalInfo" method="post">
                            <!--begin::Card-->
                            <div class="card card-custom card-stretch">
                                <!--begin::Header-->
                                <div class="card-header py-3">
                                    <div class="card-title align-items-start flex-column">
                                        <h3 class="card-label font-weight-bolder text-dark">
                                            <i class="fas fa-user-edit text-dark mr-2"></i>Kişisel Bilgiler
                                        </h3>
                                        <span class="text-muted font-weight-bold font-size-sm mt-1">Kişisel bilgileri düzenleyin</span>
                                    </div>
                                    <div class="card-toolbar">
                                        <button class="btn btn-primary mr-2">Kaydet</button>
                                        <a class="btn btn-secondary">Geri</a>
                                    </div>
                                </div>
                                <!--end::Header-->

                                <div class="container">
                                    <!--begin::Body-->
                                    <div class="card-body">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Doğum Tarihi</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group date input-group-solid" id="kt_datetimepicker_4" data-target-input="nearest">
                                                            <input asp-for="BirthDate" value="@Model.BirthDate.Value.ToShortDateString()" type="text" class="form-control datetimepicker-input form-control-lg" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_4" />
                                                            <div class="input-group-append" data-target="#kt_datetimepicker_4" data-toggle="datetimepicker">
                                                                <span class="input-group-text">
                                                                    <i class="ki ki-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Medeni Hal</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect" asp-for="MaritalStatusGeneralSubTypeId" class="form-control form-control-solid form-control-lg" asp-items="ViewBag.MaritalStatusList">
                                                            <option disabled selected value="-1">Seçiniz</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Engel Derecesi</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect2" asp-for="DegreeOfDisabilityGeneralSubTypeId" class="form-control form-control-solid form-control-lg" asp-items="ViewBag.DegreeOfDisabilityList">
                                                            <option disabled selected value="-1">Seçiniz</option>

                                                        </select>
                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Eğitim Durumu</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect3" asp-for="EducationStatusGeneralSubTypeId" class="form-control form-control-solid form-control-lg" asp-items="ViewBag.EducationStatusList">
                                                            <option disabled selected value="-1">Seçiniz</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Kimlik Numarası</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group input-group-lg input-group-solid">

                                                            <input asp-for="IdNumber" type="text" class="form-control form-control-lg form-control-solid" placeholder="Kimlik Numarası" />
                                                            <input type="hidden" asp-for="StaffPersonelInfoId" />
                                                            <input type="hidden" asp-for="StaffId" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Cinsiyet</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect3" asp-for="GenderGeneralSubTypeId" class="form-control form-control-solid form-control-lg" asp-items="ViewBag.GenderList">
                                                            <option disabled selected value="-1">Seçiniz</option>

                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Kan Grubu</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect3" asp-for="BloodGroupGeneralSubTypeId" class="form-control form-control-solid form-control-lg" asp-items="ViewBag.BloodGroupList">
                                                            <option disabled selected value="-1">Seçiniz</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Tamamlanan En Yüksek Eğitim Seviyesi</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select id="ContractTypeSelect3" asp-for="EducationLevelGeneralSubTypeId" class="form-control form-control-solid form-control-lg " asp-items="ViewBag.EducationLevelList">
                                                            <option disabled selected value="-1">Seçiniz</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>


                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#tab_3").addClass("active");
        });
    </script>

    @*Kişisel bilgiler Güncellendiği için sweet alert*@
    <script>
        $(document).ready(function () {

            if (@ViewBag.StaffPersonalInfoUpdateStatus == true) {
                
                Swal.fire("Güncellendi!", "Güncelleme işlemi başarılı!", "success");
            }
        });
    </script>
    
}