@model ListStaffShiftOnDashboardDto
<div class="modal fade" id="staffShiftApprove" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <form id="approveStaffLeave" method="post">
        <div class="modal-dialog modal-dialog-centered modal-lg p-5 " role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#181c32">
                    <div class="card-title align-items-start flex-column">
                        <h3 class="card-label font-weight-bolder text-light">
                            <i class="fas fa-address-book mr-2 text-light"></i>Mesai Detay
                        </h3>

                    </div>
                    <button type="button" class="link-2" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="card text-center">
                    <div class="card-header" style="background-color:#181c32">                 
                        <h4 class="text-light">@Model.NameSurname <span class="text-warning"> Mesai </span> talebinde bulunmuştur.</h4>
                    </div>
                    <div class="card-body" style="background-color:#181c32">
                        <h4 class="card-title text-light "> Tarih :@Model.StartDate  </h4>
                        <p class="card-title "> <h4 class="text-light">Açıklama: @Model.Description </h4></p>
                        <div class="card-footer text-warning" style="background-color:#181c32">
                            <h4>  Toplam yapılan Mesai Saati: @Model.Duration Saat  </h4>
                        </div>
                    </div>


                </div>
                <div class="modal-footer" style="background-color:#181c32">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    @if ((User.IsInRole("ApprovePayment") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                    {
                        <button type="button" onclick="approveShiftDash(@Model.StaffShiftId)" class="btn btn-primary font-weight-bold">Onayla</button>
                    }
                    </div>
            </div>
        </div>
    </form>
</div>

<script>
    function approveShiftDash(id) {
            Swal.fire({
                title: "Onaylamak ister misiniz ?",
                text: "Bunu geri alamazsınız!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "Hayır",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        method: "POST",
                        url: "/Shift/ApproveShift/" + id,
                    }).done(function (result) {
                        debugger;
                        if (result == true) {
                            Swal.fire({
                                title: "Onaylandı!",
                                text: "Talep Onaylandı.",
                                icon: "success",
                                showCancelButton: false
                            }).then(function () {
                                window.location.reload();
                            })

                        } else {
                            Swal.fire(
                                "Hata",
                                "Kaydınız onaylanmadı",
                                "hata"
                            )
                        }

                    })
                } else if (result.dismiss === "cancel") {
                    Swal.fire({
                        title: "İptal Edildi",
                        text: "Kaydınız onaylanmadı",
                        icon: "error",
                        showCancelButton: false
                    })
                }
            });

        }
       
</script>