@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

}
<div class="card card-custom">
    <div class="card-header card-header-tabs-line">
        <div class="card-toolbar">
            <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x" role="tablist">
                @if ((User.IsInRole("ViewLeaveRequestPendingApprovalLeavesTab") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                {
                    <li class="nav-item mr-3">
                        <a class="nav-link" id="multipleAssignBtn" data-toggle="tab" href="#multipleAssignTab" onclick="localStorage.RoleAssignTabId = 1">
                            <span class="nav-icon mr-2">
                                <span class="svg-icon mr-3">
                                    <i class="fas fa-users"></i>
                                </span>
                            </span>
                            <span class="nav-text font-weight-bold">Toplu Rol Atama</span>
                        </a>
                    </li>
                }
                @if ((User.IsInRole("ViewLeaveRequestApprovalLeavesTab") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                {
                    <li class="nav-item mr-3">
                        <a class="nav-link" id="singleAssignBtn" data-toggle="tab" href="#singleAssignTab" onclick="localStorage.RoleAssignTabId = 2">
                            <span class="nav-icon mr-2">
                                <span class="svg-icon mr-3">
                                    <i class="fas fa-user-tag"></i>
                                </span>
                            </span>
                            <span class="nav-text font-weight-bold">Bireysel Rol Atama</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </div>


    <div class="card card-custom">
        <div class="card-body  ">
            <div class="tab-content pt-5">
                @*Toplu Rol Atama*@
                <div class="tab-pane" id="multipleAssignTab" role="tabpanel">
                    <div class="flex-row-fluid ml-lg-8">

                        <form id="AddAuthorizeForm" class="form" method="post">
                            <!--begin::Card-->
                            <div class="card card-custom card-stretch">
                                <!--begin::Header-->
                                <div class="card-header py-3">
                                    <div class="card-title align-items-start flex-column">
                                        <h3 class="card-label font-weight-bolder text-dark">
                                            <i class="fas fa-users mr-2 text-dark"></i>Toplu Rol Atama
                                        </h3>
                                        <span class="text-muted font-weight-bold font-size-sm mt-1">Rol bilgilerini düzenleyin</span>
                                    </div>
                                    <div class="card-toolbar">
                                        @if ((User.IsInRole("AddRoleAssign") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                        {
                                            <button onclick="staffAddAuthorizeTypeClickFunction()" type="button" class="btn btn-primary mr-2">Kaydet</button>
                                        }
                                        <a class="btn btn-secondary">Geri</a>
                                    </div>
                                </div>
                                <!--end::Header-->

                                <div id="staffCardList" class="container">
                                    <!--begin::Body-->
                                    <div class="row">
                                        <div class="col-md-4 mt-5">
                                            <div class="form-group row pt-5">
                                                <label class="pl-4 col-lg-10 col-xl-10 ">Personeller</label>
                                                <div class="col-lg-10 col-xl-10 col-sm-12">
                                                    <select class="form-control selectpicker" id="users" multiple data-live-search="true" name="UserId" asp-items="ViewBag.UserList">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-5">
                                            <div class="form-group row pt-5">
                                                <label class="pl-4 col-lg-10 col-xl-10 ">Roller</label>
                                                <div class="col-lg-10 col-xl-10 col-sm-12">
                                                    <select class="form-control selectpicker" id="roles" multiple data-live-search="true" name="RoleId" asp-items="ViewBag.Roles">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-5">
                                            <div class="form-group row pt-5">
                                                <label class="pl-4 col-lg-10 col-xl-10 ">Ekranlar</label>
                                                <div class="col-lg-10 col-xl-10 col-sm-12">
                                                    <select class="form-control selectpicker" id="authorizeRoles" multiple data-live-search="true" name="AuthorizeId" asp-items="ViewBag.PageRoles">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>

                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                </div>

                @*Bireysel Rol Atama*@

                <div class="tab-pane" id="singleAssignTab" role="tabpanel">
                    <div class="flex-row-fluid ml-lg-8">
                        <div class="card card-custom card-stretch">
                            <div class="card-header py-3">
                                <div class="card-title align-items-start flex-column">
                                    <h3 class="card-label font-weight-bolder text-dark">
                                        <i class="fas fa-user-tag text-dark mr-2"></i>Bireysel Rol Atama
                                    </h3>
                                    <span class="text-muted font-weight-bold font-size-sm mt-1">Rol bilgilerini düzenleyin</span>
                                </div>
                                <div class="card-toolbar">

                                    <a class="btn btn-secondary">Geri</a>
                                </div>
                            </div>
                            <!--end::Header-->
                            <div class="card-body">
                                <!--begin::Profile Personal Information-->
                                <div class="d-flex flex-row">

                                    <!--begin::Aside-->
                                    <div class=" col-md-3" id="kt_profile_aside">
                                        <!--begin::Profile Card-->
                                        <div class="card card-custom card-stretch">
                                            <!--begin::Body-->
                                            <div class="card-body pt-4">
                                                <!--begin::User-->
                                                <div class=" align-items-center">
                                                    <!--begin::Card-->
                                                    <div>
                                                        <div class="form-group row">
                                                            <div class="col-lg-12 col-xl-12 ">
                                                                <label class="pl-4 col-lg-10 col-xl-10 ">Personel</label>

                                                                <select id="kt_select2_1" onchange="userChange()" style=" width: 100% !important; padding-right:13px !important;" class="form-control form-control-solid form-control-lg pr-0" asp-items="@ViewBag.UserList">
                                                                    <option class="text-center" value="-1" selected> Kullanıcı Seçiniz</option>
                                                                </select>
                                                            </div>

                                                        </div>




                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-9" id="staffRoleTable">

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>
</div>



@section Scripts{
    <script src="~/js/roleAssign.js"></script>
    <script src="~/Croppie-2.6.4/demo/demo.js"></script>    
    <script src="~/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            debugger;
            if (localStorage.RoleAssignTabId == 2) {
                $("#singleAssignTab").addClass("active");
                $("#singleAssignBtn").addClass("active");
            }
            else {
                $("#multipleAssignTab").addClass("active");
                $("#multipleAssignBtn").addClass("active");
            }
            if (localStorage.SingleRoleAssignUserId != "0" && localStorage.SingleRoleAssignUserId != null) {
                $('#kt_select2_1').val(Number(localStorage.SingleRoleAssignUserId));
                $('#kt_select2_1').select2().trigger('change');
                userChange();
            }

        });
    </script>
}

