@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex-row-fluid ml-lg-8">
    <!--begin::Form-->
    <!--begin::Card-->
    <!--<div class="card card-custom card-stretch">
        <!--begin::Header-->
    <!--<div class="card-header py-3">
        <div class="card-title align-items-start flex-column">
            <h3 class="card-label font-weight-bolder text-dark">
                <i class="fas fa-address-book mr-2 text-dark"></i>Rol Atama
            </h3>-->
    @*<span class="text-muted font-weight-bold font-size-sm mt-1">selam mami</span>*@
    <!--</div>
    <div class="card-toolbar">-->
    @*<button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#staticBackdrop">
            Yeni Çalışan Ekle
        </button>*@


    @*</div>
        </div>-->*@
    <form id="AddAuthorizeForm" class="form"  method="post">
        <!--begin::Card-->
        <div class="card card-custom card-stretch">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>Rol Atama
                    </h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">Rol bilgilerini düzenleyin</span>
                </div>
                <div class="card-toolbar">
                    <button onclick="staffAddAuthorizeTypeClickFunction()" type="button" class="btn btn-primary mr-2">Kaydet</button>
                    <a class="btn btn-secondary">Geri</a>
                </div>
            </div>
            <!--end::Header-->

            <div id="staffCardList" class="container-fluid">
                <!--begin::Body-->
                <div class="row">
                    <div class="col-md-4 mt-5">
                        <div class="form-group row pt-5">
                            <label class="pl-4 col-lg-10 col-xl-10 ">Personeller</label>
                            <div class="col-lg-10 col-xl-10 col-sm-12">
                                <select class="form-control selectpicker" id="users" multiple data-live-search="true" name="UserId" asp-items="ViewBag.UserList">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-5">
                        <div class="form-group row pt-5">
                            <label class="pl-4 col-lg-10 col-xl-10 ">Roller</label>
                            <div class="col-lg-10 col-xl-10 col-sm-12">
                                <select class="form-control selectpicker" id="roles" multiple data-live-search="true" name="RoleId" asp-items="ViewBag.Roles">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-5">
                        <div class="form-group row pt-5">
                            <label class="pl-4 col-lg-10 col-xl-10 ">Ekranlar</label>
                            <div class="col-lg-10 col-xl-10 col-sm-12">
                                <select class="form-control selectpicker" id="authorizeRoles"  multiple name="AuthorizeId" asp-items="ViewBag.PageRoles">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Body-->
            </div>

        </div>
    </form>
    <!--end::Form-->
</div>

@section Scripts{
    <script src="~/Croppie-2.6.4/demo/demo.js"></script>

    <script>

        $(document).ready(function () {
            $("#tab_1").addClass("active");
        });
    </script>
    @*Modal Add Staff*@
    <script>

        // Create a FormValidation instance
        var fv = FormValidation.formValidation(document.getElementById('AddAuthorizeForm'),
            {
                fields: {
                   
                    UserId: {
                        validators: {
                            notEmpty: {
                                message: 'Kullanıcı seçiniz'
                            },

                        }
                    },                  

                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    // Bootstrap Framework Integration
                    bootstrap: new FormValidation.plugins.Bootstrap(),

                }
            });
        function staffAddAuthorizeTypeClickFunction() {
            fv.validate().then(function (status) {
                // Update the login button content based on the validation status
                if (status == 'Valid') {
                    console.log($("#ContractTypeSelect").val());
                    var formData = {
                
                        Roles: $("#roles").val(),
                        Users: $("#users").val(),
                        AuthorizeTypes: $("#authorizeRoles").val(),

                    };
                    $.ajax({
                        method: 'post',
                        url: '/RoleAssign/AddAuthorizeWithAjax',
                        data: formData,
                        success: function (data) {
                            if (data == "true") {
                                Swal.fire({
                                    title: "Eklendi!",
                                    text: "Kaydınız eklendi.",
                                    icon: "success",
                                }).then(function () {
                                    window.location.reload()
                                })
                            } else {

                                Swal.fire({
                                    title: "Başarısız!",
                                    text: "Kullanıcı adı zaten var.",
                                    icon: "error",
                                }).then(function () {
                                    window.location.reload()
                                })
                            }

                        }

                    })
                }
            });
        }
    </script>

    <!--begin::Page Scripts(used by this page)-->
    <!--<script src="~/assets/js/pages/crud/forms/validation/form-controls.js"></script>-->
    <!--end::Page Scripts-->
}

