@model List<ListCompanyDto>
<div class="tab-content w-100">
    <div class="tab-pane active " role="tabpanel" id="kt_apps_contacts_view_tab_2">
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Notice-->
                <!--end::Notice-->
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header flex-wrap py-5">
                        <div class="card-title">
                            <i class="fas fa-building text-dark mr-2"></i>
                            <h3 id="VariableTitle" class="card-label">
                                Şirketler

                            </h3>
                        </div>
                        <div class="card-toolbar">
                            <!--begin::Button-->
                            <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#companyAddModal">
                                Ekle
                            </button>
                            <!--end::Button-->
                        </div>
                    </div>
                    <div class="card-body">

                        <table class="table table-separate table-head-custom table-checkable" id="kt_datatable">
                            <thead>
                                <tr>
                                    <th>Şirket Adı</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td width="85%">@item.CompanyName</td>
                                        <td width="15%">
                                            <a id="CareerUpdateBtn" onclick="CompanyUpdate(@item.CompanyId)" class="btn btn-sm btn-clean btn-icon" title="Edit details">
                                                <i class="la la-edit text-warning"></i>
                                            </a>
                                            <a class="btn btn-sm btn-clean btn-icon" title="Delete" onclick="DeleteCompany(@item.CompanyId)">

                                                <i class="la la-trash text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
</div>


<!--end: Datatable-->
@* add Company modal *@
<div class="modal fade" id="companyAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i> Ekle
                    </h3>

                </div>
                <button type="button" class=" text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="companyAddForm" method="POST">
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label>Şirket Adı *</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-lg form-control-solid" name="CompanyName" id="CompanyName" placeholder="Şirket Adı" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                    </div>
                    <!--end::Form-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="button" onclick="companyAddClickFunction()" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* update type modal*@
<div id="companyUpdateDiv"></div>

<script>
    function CompanyUpdate(id) {      
        var modelContent = $("#companyUpdateDiv")
        $("#companyUpdateDiv").empty();

        $.ajax({
            method: "GET",
            url: "/SystemVariable/GetUpdateCompanyModal/" + id,
            dataType: "html",
            cache: false,
        }).done(function (content) {

            if (content != null) {
                modelContent.html(content);
            }
            $("#companyUpdateModal").modal("show");



        }).fail(function (error) {
            alert(error);
        });
    }
</script>

<script>

    var fv = FormValidation.formValidation(
        document.getElementById('companyAddForm'),
        {
            fields: {
                CompanyName: {
                    validators: {
                        notEmpty: {
                            message: 'Şirket adı alanı boş geçilemez'
                        }
                    }
                },
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap(),
                // Validate fields when clicking the Submit button

            }
        }
    );
    function companyAddClickFunction() {
        fv.validate().then(function (status) {
            if (status == 'Valid') {
                var formData = {
                    CompanyName: $("#CompanyName").val()
                };
                $.ajax({
                    method: 'post',
                    url: '/SystemVariable/AddCompany',
                    data: formData,
                    success: function (data) {
                        if (data == true) {
                            Swal.fire({
                                title: "Eklendi!",
                                text: "Kaydınız eklendi.",
                                icon: "success",
                            }).then(function () {
                                window.location.reload()
                            })
                        }

                    }

                })
            }
        });
    }
</script>

@*Delete company with sweet alert*@
<script>
    function DeleteCompany(id) {
        Swal.fire({
            title: "Silmek istediğinize emin misiniz ?",
            text: "Bunu geri alamazsınız!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Evet, sil!",
            cancelButtonText: "Hayır, iptal et!",
            reverseButtons: true
        }).then(function (result) {
            if (result.value) {

                $.ajax({
                    method: "POST",
                    url: "/SystemVariable/DeleteCompany/" + id,
                }).done(function (result) {
                    if (result == true) {
                        Swal.fire({
                            title: "Silindi!",
                            text: "Kaydınız silindi.",
                            icon: "success",
                            showCancelButton: false
                        }).then(function () {
                            window.location.reload();
                        })

                    } else {
                        Swal.fire(
                            "Hata",
                            "Kaydınız silinemedi",
                            "hata"
                        )
                    }

                })
            } else if (result.dismiss === "cancel") {
                Swal.fire({
                    title: "İptal Edildi",
                    text: "Kaydınız silinmedi",
                    icon: "error",
                    showCancelButton: false
                })
            }
        });
    }
   
</script>
