@model ListLeaveRuleDto

<div class="modal fade" id="leaveRuleUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>İzin Türü Düzenle
                    </h3>

                </div>
                <button type="button" class=" text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="LeaveRuleUpdateForm" asp-controller="SystemVariable" asp-action="UpdateLeaveRule" method="POST">
                <input type="hidden" asp-for="RuleId" />

                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label>Deneyim (Yıl) *</label>
                                                <div class="input-group">
                                                    <input id="kt_touchspin_3" type="text" class="form-control form-control-lg text-center" asp-for="SeniorityYear" placeholder="Toplam" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5 ">
                                            <div class="form-group row ">
                                                <label>Ek İzin Hakkı (Gün) *</label>
                                                <div class="input-group">
                                                    <input id="kt_touchspin_2" type="text" class="form-control form-control-lg text-center"  asp-for="AditionalLeaveAmount" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>


                    </div>

                    <!--end::Form-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="btnUpdateLeaveRule" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    FormValidation.formValidation(
        document.getElementById('LeaveRuleUpdateForm'),
        {
            fields: {
                SeniorityYear: {
                    validators: {
                        notEmpty: {
                            message: 'Deneyim alanı boş geçilemez',
                        },
                        between: {
                            min: 1,
                            max: 365,
                            message: 'Toplam yıl 0 olamaz',
                        }

                    }
                },
                AditionalLeaveAmount: {
                    validators: {
                        notEmpty: {
                            message: 'Ek izin hakkı alanı boş geçilemez',
                        },
                        between: {
                            min: 1,
                            max: 365,
                            message: 'Toplam gün 0 olamaz',
                        }

                    }
                },
            },
           
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap(),
                // Validate fields when clicking the Submit button
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
            }
        }
    );
</script>
<script>
    $('#kt_touchspin_2, #kt_touchspin_2_2').TouchSpin({
        buttondown_class: 'btn btn-secondary',
        buttonup_class: 'btn btn-secondary',
        min: 0,
        max: 100,
        step: 1,
        int: 1,
        boostat: 5,
        maxboostedstep: 10,

    });
    $('#kt_touchspin_3, #kt_touchspin_2_2').TouchSpin({
        buttondown_class: 'btn btn-secondary',
        buttonup_class: 'btn btn-secondary',
        min: 0,
        max: 100,
        step: 1,
        int: 1,
        boostat: 5,
        maxboostedstep: 10,

    });
</script>
