@model ListLeaveTypeDto

<div class="modal fade" id="leaveTypeUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark lead">
                        <i class="fas fa-umbrella-beach mr-2 text-dark"></i>İzin Türü Düzenle
                    </h3>

                </div>
                <button type="button" class=" text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="LeaveTypeUpdateForm" asp-controller="SystemVariable" asp-action="UpdateLeaveType" method="POST">
                <input type="hidden" asp-for="Id" />

                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label>İzin Türü *</label>
                                                <div class="input-group">
                                                    <input  asp-for="Name" class="form-control form-control-lg form-control-solid" type="text" placeholder="İzin Türü" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5 ">
                                            <div class="form-group row ">
                                                <label>İzin Hakkı(Gün) *</label>
                                                <div class="input-group">
                                                    <input id="kt_touchspin_2" type="text" class="form-control form-control-lg text-center" asp-for="TotalDay" placeholder="Toplam" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label>Açıklama *</label>
                                                <div class="input-group">

                                                    <textarea type="text" class="form-control form-control-lg form-control-solid" asp-for="Description" name="Description" placeholder="Açıklama"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 ">
                                            <div  class="form-group row">
                                                <div class="checkbox-inline ml-0">
                                                    <label class="checkbox checkbox-success">
                                                        <input asp-for="IsFree" type="checkbox"  />
                                                        <span></span>
                                                        Ücretsiz izin mi ?
                                                    </label>
                                                </div>                              
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>


                    </div>

                    <!--end::Form-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="btnNewStaff" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    FormValidation.formValidation(
        document.getElementById('LeaveTypeUpdateForm'),
        {
            fields: {
                Name: {
                    validators: {
                        notEmpty: {
                            message: 'İzin türü adı alanı boş geçilemez'
                        }
                    }
                },
                Description: {
                    validators: {
                        notEmpty: {
                            message: 'Açıklama alanı boş geçilemez'
                        },
                        stringLength: {
                            max: 999,
                            message: '1000 karakterden az girin'
                        }
                    }
                },
                TotalDay: {
                    validators: {
                        notEmpty: {
                            message: 'İzin hakkı alanı boş geçilemez',
                        },
                        between: {
                            min: 1,
                            max: 365,
                            message: 'Toplam gün 0 olamaz',
                        }

                    }
                },
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap(),
                // Validate fields when clicking the Submit button
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
            }
        }
    );
</script>
<script>
    $('#kt_touchspin_2, #kt_touchspin_2_2').TouchSpin({
        buttondown_class: 'btn btn-secondary',
        buttonup_class: 'btn btn-secondary',
        min: 0,
        max: 100,
        step: 1,
        int: 1,
        boostat: 5,
        maxboostedstep: 10,

    });
</script>
