@model ListRoleDto

<div class="modal fade" id="roleUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-user-tag mr-2 text-dark"></i>Düzenle
                    </h3>

                </div>
                <button type="button" class=" text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="RoleUpdateForm" asp-controller="SystemVariable" asp-action="UpdateRole" method="POST">
                <input type="hidden" asp-for="Id" />

                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label>Rol Adı*</label>
                                                <div class="input-group">
                                                    <input asp-for="Name"  class="form-control form-control-lg form-control-solid" type="text" placeholder="Rol Adı" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label>Ücret Tipi</label>
                                                <div class="input-group">
                                                    <select  class="form-control form-control-solid form-control-lg" asp-for="AuthorizeTypeGeneralSubTypeId" asp-items="ViewBag.AuthorizeTypes">
                                                        <option value="">Seçiniz</option>

                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label>Açıklama*</label>
                                                <div class="input-group">
                                                    <input asp-for="Description"  class="form-control form-control-lg form-control-solid" type="text" placeholder="Açıklama" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>


                    </div>

                    <!--end::Form-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    FormValidation.formValidation(
        document.getElementById('RoleUpdateForm'),
        {
            fields: {
                Name: {
                    validators: {
                        notEmpty: {
                            message: 'İzin türü adı alanı boş geçilemez'
                        }
                    }
                },
                Description: {
                    validators: {
                        notEmpty: {
                            message: 'Açıklama alanı boş geçilemez'
                        },
                        stringLength: {
                            max: 999,
                            message: '1000 karakterden az girin'
                        }
                    }
                },
                AuthorizeTypeGeneralSubTypeId: {
                    validators: {
                        notEmpty: {
                            message: 'Yetki Tipi boş geçilemez '
                        }
                    }
                }

            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap(),
                // Validate fields when clicking the Submit button
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
            }
        }
    );
</script>
