@*add shift modal*@
<div class="modal fade" id="staffShiftRequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-user-clock mr-2 text-dark"></i>Mesai Ekle
                    </h3>

                </div>
                <button type="button" class="text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="modalRequestShiftForm" method="POST">
                <input type="hidden" id="StaffId" value="@ViewBag.StaffId" />
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">
                                    <div class="row">
                                        <div class="col-md-5">

                                            <div class="form-group row ">
                                                <label>Başlangıç Tarihi *</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_18" data-target-input="nearest">
                                                        <input id="StartDate" name="StartDate" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_18" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_18" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label>Açıklama *</label>
                                                <div class="input-group">
                                                    <textarea type="text" style="height:50px;" class="form-control form-control-lg form-control-solid" id="Description" name="Description" placeholder="Açıklama"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5 ">
                                            <div class="form-group row ">
                                                <label>Süre (Saat) *</label>
                                                <div class="input-group">
                                                    <input id="kt_touchspin_1" type="text" class="form-control form-control-lg text-center" value="0" name="Duration" placeholder="Toplam" />
                                                </div>
                                            </div>
                                            @if ((User.IsInRole("CreateRequestAbilityToEveryone") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                            {
                                                <div class="form-group row">
                                                    <label>Personel *</label>
                                                    <div class="input-group">
                                                        <select id="staffSelect" style=" width: 100% !important;" class="form-control form-control-solid form-control-lg" name="StaffId" asp-items="ViewBag.Staffs">
                                                        </select>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <input id="staffAutoId" type="hidden" value="@ViewBag.StaffId" />

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>


                    </div>

                    <!--end::Form-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="button" onclick="shiftRequestClickFunction()" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#personal_select2').select2({
        placeholder: 'Personel Seçiniz'
    });
</script>

@*//add staff shift*@
<script>
    //  document.addEventListener('DOMContentLoaded', function (e) {

    var fvShiftRequest = FormValidation.formValidation(document.getElementById('modalRequestShiftForm'), {
        fields: {
            StartDate: {
                validators: {
                    notEmpty: {
                        message: 'Tarih alanı boş geçilemez'
                    },
                    date: {
                        format: 'DD.MM.YYYY HH:mm',
                        message: 'Geçerli bir tarih girin'
                    }

                }
            },
            Duration: {
                validators: {
                    notEmpty: {
                        message: 'Süre alanı boş geçilemez',
                    },
                    greaterThan: {
                        min: 1,
                        message: 'Süre alanı 0 olamaz',
                    }

                }
            },          
            Description: {
                validators: {
                    notEmpty: {
                        message: 'Açıklama alanı boş geçilemez'
                    },
                    stringLength: {
                        max: 499,
                        message: '500 karakterden az girin'
                    }
                }
            },
        },
        plugins: {
            trigger: new FormValidation.plugins.Trigger(),
            // Bootstrap Framework Integration
            bootstrap: new FormValidation.plugins.Bootstrap(),
            // Validate fields when clicking the Submit button
            // submitButton: new FormValidation.plugins.SubmitButton(),
            // Submit the form when all fields are valid
            // defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
        },
    });
    function shiftRequestClickFunction() {

        fvShiftRequest.validate().then(function (status) {
            // Update the login button content based on the validation status
            if (status == 'Valid') {
                var staffIdFdd = $('#staffSelect').val() !== undefined ? $('#staffSelect').val() : $('#staffAutoId').val();
                var formData = {
                    StaffId: staffIdFdd,
                    StartDate: $("#StartDate").val(),
                    Duration: $("#kt_touchspin_1").val(),
                    Description: $("#Description").val()
                };
                console.log(formData);
                $.ajax({
                    method: 'post',
                    url: '/StaffShift/AddStaffShiftWithAjax',
                    data: formData,
                    success: function (data) {
                        if (data == 'true') {
                            Swal.fire({
                                title: "Eklendi!",
                                text: "Kaydınız eklendi.",
                                icon: "success",
                            }).then(function () {
                                window.location.reload()
                            })
                        }

                    }

                })
            }
        });
    }

</script>
<script>
    $('#kt_datetimepicker_18').datetimepicker({
        locale: 'tr',
        format: 'DD.MM.YYYY HH:mm'
    });
</script>
<script src="~/assets/js/pages/crud/forms/widgets/bootstrap-touchspin.js"></script>