@model ListLeaveViewModel
@{
    ViewData["Title"] = "İzin raporları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header card-header-tabs-line mt-0">
    <div class="card-toolbar">
        <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x" role="tablist">
            <li class="nav-item mr-3">
                <a class="nav-link " id="tab_1" asp-controller="Leave" asp-action="Index" asp-route-id="@Model">
                    <span class="nav-icon mr-2">
                        <span class="svg-icon mr-3">
                            <i class="fas fa-address-book"></i>
                        </span>
                    </span>
                    <span class="nav-text font-weight-bold">İzinler </span>
                </a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link active" id="tab_2" asp-controller="Leave" asp-action="Reports" asp-route-id="@Model">
                    <span class="nav-icon mr-2">
                        <span class="svg-icon mr-3">
                            <i class="fas fa-business-time"></i>
                        </span>
                    </span>
                    <span class="nav-text font-weight-bold">Raporlar</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />

