<div class="kt-page-loader kt-page-loader--base">
    <div class="blockui">
        <span>Lütfen Bekleyin</span>
        <span>
            <div class="kt-spinner kt-spinner--brand"></div>
        </span>
    </div>
</div>