@model List<ListStaffJobRotationDto>
<div id="JobRotationDivTable" class="card card-custom">
    <div class="card-header flex-wrap py-5">
        <div class="card-title">
            <i class="fas fa-people-arrows text-dark mr-2"></i>
            <h1 id="tableHeader"  class="card-label">
               
            </h1>
        </div>

    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <table class="table table-separate table-head-custom table-checkable" id="JobRotationTable">
            <thead>
                <tr>
                    <th width="20%">Kart No</th>
                    <th width="40%">Ad Soyad</th>
                    <th width="40%">Departman</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.PersonalNo</td>
                    <td>@item.NameSurname</td>                 
                    <td>@item.DepartmentName </td>                                    
                </tr>

                }
            </tbody>
        </table>
        <!--end: Datatable-->
    </div>
</div>
<script>
    var table = $('#JobRotationTable');
    // begin first table
    table.DataTable({
        responsive: true,
        paging: true,
      
    });
</script>
<script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
@*<script src="~/assets/js/pages/crud/datatables/advanced/column-rendering.js" charset="windows-1254"></script>*@