@model ListJobRotationDto
@{
    ViewData["Title"] = "JobRotationDescribing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
}
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <!--end::Page Title-->
            <!--begin::Actions-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Vardiya Tanımlama</h5>
            <!--end::Actions-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">

        </div>
        <!--end::Toolbar-->
    </div>
</div>

<br />
<div class="card card-custom ">
    <div class="card-body">
        <!--begin::Profile Personal Information-->
        <div class="tab-content">
            <div class="tab-pane active " role="tabpanel" id="kt_apps_contacts_view_tab_2">
                <!--begin::Entry-->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container-fluid">
                        <!--begin::Notice-->
                        <!--end::Notice-->
                        <!--begin::Card-->
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card card-custom">
                                    <div class="card-header flex-wrap py-5">
                                        <div class="card-title">
                                            <i class="fas fa-people-arrows text-dark mr-2"></i>
                                            <h3 class="card-label">
                                                Vardiya Atama
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form id="jobRotationDescribingForm" asp-action="JobRotationAssignStaff" asp-controller="JobRotation" method="post">
                                            <div class="form-group row">
                                                <select id="JobRotationSelect" onchange="jobRotationChange()" class="form-control form-control-solid d-block  form-control-lg" name="JobRotationId" asp-items="ViewBag.JobRotationList">
                                                    <option hidden value="">Vardiya Seçiniz</option>
                                                </select>
                                            </div>

                                            <div class="form-group row">
                                                <select class="form-control select2" id="staffSelectList" name="StaffList" multiple="multiple" asp-items="ViewBag.PersonalList">
                                                </select>
                                            </div>
                                            <div class="form-group row">
                                                @* onclick="jobRotationAssignStaffClickFunction()" *@
                                                @if ((User.IsInRole("DescribingJobRotationButton") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                                {
                                                    <button type="submit" class="btn btn-success btn-block">Kaydet</button>
                                                }
                                                @if ((User.IsInRole("ResetJobRotationButton") || User.IsInRole("Manager")) && User.Identity.IsAuthenticated)
                                                {
                                                    <a onclick="deleteAllRotation()" class="btn btn-secondary btn-block">Sıfırla</a>
                                                }
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7" id="JobRotationDiv">

                            </div>
                        </div>

                        <!--end::Card-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </div>
        </div>
    </div>

</div>


@section Scripts{
    @*begin::Page Scripts(used by this page)*@
    <script src="~/assets/js/pages/crud/forms/validation/form-controls.js"></script>
    @*end::Page Scripts*@
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/pages/crud/datatables/advanced/column-rendering.js" charset="windows-1254"></script>
    <script>
        // multi select
        $('#staffSelectList').select2({
            closeOnSelect: false,
            placeholder: "Perseonel Seçiniz",
            width: '100%'
        });
    </script>
    <script>
        //  document.addEventListener('DOMContentLoaded', function (e) {

        var fv = FormValidation.formValidation(document.getElementById('jobRotationDescribingForm'), {
            fields: {

                StaffList: {
                    validators: {
                        notEmpty: {
                            message: 'Personel alanı boş geçilemez',
                        },

                    }
                },
                JobRotationId: {
                    validators: {
                        notEmpty: {
                            message: 'Vardiya alanı boş geçilemez'
                        },
                    }
                },
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap(),
                // Validate fields when clicking the Submit button
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
            },
        });

    </script>
    <script>
        function jobRotationChange() {

            var id = $("#JobRotationSelect").val();
            var modelContent = $("#JobRotationDiv")
            $("#JobRotationDiv").empty();
            $("#staffSelectList").empty();
            $.ajax({
                method: "GET",
                url: "/JobRotation/GetStaffByRotationId/" + id,
                dataType: "html",
                cache: false,
            }).done(function (content) {

                if (content != null) {
                    modelContent.html(content);
                    $("#tableHeader").text($("#JobRotationSelect option:selected").text() + "Vardiya Listesi");
                }
            }).fail(function (error) {
                alert(error);
            });

            $.ajax({
                method: "GET",
                url: "/JobRotation/GetJobRotationSelectbox/",
                //dataType: "json",
                cache: false,
            }).done(function (data) {
                debugger;
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        if (id == data[i].jobRotationId) {
                            var opt = '<option selected value="' + data[i].staffId + '">' + data[i].nameSurname + '(' + data[i].departmentName + ')' + '</option>';
                            $("#staffSelectList").append(opt);
                        } else {
                            var opt = '<option value="' + data[i].staffId + '">' + data[i].nameSurname + '(' + data[i].departmentName + ')' + '</option>';
                            $("#staffSelectList").append(opt);
                        }
                    }
                }
            }).fail(function (error) {
                alert(error);
            });
        }
    </script>
    <script>
        function deleteAllRotation() {
            Swal.fire({
                title: "Tüm vardiyaları sıfırlamak istediğinize emin misiniz ?",
                text: "Bunu geri alamazsınız!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Evet!",
                cancelButtonText: "Hayır!",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                        method: "POST",
                        url: "/JobRotation/DeleteAllRotation",
                    }).done(function (result) {
                        if (result == true) {
                            Swal.fire({
                                title: "Silindi!",
                                text: "İşlem başarılı.",
                                icon: "success",
                                showCancelButton: false
                            }).then(function () {
                                window.location.reload();
                            })

                        } else {
                            Swal.fire(
                                "Hata",
                                "İşlem başarısız",
                                "error"
                            )
                        }

                    })
                }
            });

        }
    </script>
    <script>
         $(document).ready(function () {
             if (@ViewBag.JobRotationAddStatus == true)
                Swal.fire("Eklendi!", "Ekleme işlemi başarılı!", "success");
         });
    </script>
}