@model ListStaffCareerDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="staffCareerUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>Pozisyon Ekle
                    </h3>

                </div>
                <button type="button" class="link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form asp-controller="StaffCareer" asp-action="UpdateStaffCareer" method="POST">
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">

                                    <div class="row">

                                        <div class="col-md-5 ">
                                            <div class="form-group row ">
                                                <label  >Şirket</label>
                                                <div class="input-group">
                                                    <select onchange="CompanyChangeUpdate()" class="form-control form-control-solid form-control-lg" id="c_companySelectUpdate" asp-for="CompanyId" asp-items="ViewBag.Companies">
                                                        <option value="-1">Seçiniz</option>

                                                    </select>

                                                </div>
                                                <input type="hidden" asp-for="StaffId" />
                                                <input type="hidden" asp-for="StaffCareerId"/>

                                            </div>
                                            <div class="form-group row ">
                                                <label  >Departman</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg" asp-for="DepartmantGeneralSubTypeId" asp-items="ViewBag.Departments">
                                                        <option value="-1">Seçiniz</option>

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row ">
                                                <label  >Çalışma Şekli</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg" asp-for="ModeOfOperationGeneralSubTypeId" asp-items="ViewBag.ModeOfOperations">
                                                        <option value="-1">Seçiniz</option>

                                                    </select>
                                                </div>
                                            </div>
                                 

                                            <div class="form-group row ">
                                                <label id="jobFinishDateLbl"  >Başlangıç Tarihi</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_45" data-target-input="nearest">
                                                        <input id="ContractFinishDate" asp-for="JobStartDate" value="@Model.JobStartDate.ToShortDateString()" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_45" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_45" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5">
                                            <div class="form-group row ">
                                                <label  >Şube</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg"  id="c_companyBranchSelectUpdate" asp-for="CompanyBranchId" asp-items="ViewBag.CompanyBranchs">
                                                        <option value="-1">Seçiniz</option>

                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group row ">
                                                <label  >Unvan</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg" asp-for="TitleGeneralSubTypeId" asp-items="ViewBag.Titles">
                                                        <option value="-1">Seçiniz</option>

                                                    </select>
                                                    <input type="hidden" asp-for="@Model.StaffId" />
                                                </div>
                                            </div>

                                            <div class="form-group row ">
                                                <label id="jobFinishDateLbl" class="col-xl-4 col-lg-3 col-form-label ">Bitiş Tarihi</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_29" data-target-input="nearest">
                                                        @{
                                                            var date = DateTime.Now.ToShortDateString();
                                                            @if (Model.JobFinishDate != null)
                                                            {
                                                                date = Model.JobFinishDate.Value.ToShortDateString();
                                                            }
                                                            else
                                                            {
                                                                date = "Tarih Seçiniz";
                                                            }
                                                        }

                                                        <input id="ContractFinishDate" asp-for="JobFinishDate" value="@date" type="text" class="form-control form-control-lg datetimepicker-input " placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_29" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_29" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>


                        </div>

                        <!--end::Form-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="submit"  class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>

</div>