@model ListStaffCareerDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="staffCareerUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>Pozisyon Düzenle

                    </h3>

                </div>
                <button type="button" class="text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="updateCareerForm" asp-controller="StaffCareer" asp-action="UpdateStaffCareer" method="POST">
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">

                                    <div class="row">

                                        <div class="col-md-5 ">
                                            <div class="form-group row ">
                                                <label>Şirket *</label>
                                                <div class="input-group">
                                                    <select onchange="CompanyChangeUpdate()" class="form-control form-control-solid form-control-lg" style=" width: 100% !important;" id="c_companySelectUpdate" asp-for="CompanyId" asp-items="ViewBag.Companies">
                                                        <option value="">Seçiniz</option>

                                                    </select>

                                                </div>
                                                <input type="hidden" asp-for="StaffId" />
                                                <input type="hidden" asp-for="StaffCareerId" />

                                            </div>
                                            <div class="form-group row ">
                                                <label>Şube</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg" style=" width: 100% !important;" id="c_companyBranchSelectUpdate" asp-for="CompanyBranchId" asp-items="ViewBag.CompanyBranchs">
                                                        <option value="">Seçiniz</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label>Departman *</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg" id="c_DepartmentUpdate" style=" width: 100% !important;" asp-for="DepartmantGeneralSubTypeId" asp-items="ViewBag.Departments">
                                                        <option value="">Seçiniz</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label>Unvan *</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg" style=" width: 100% !important;" id="c_TitleUpdate" asp-for="TitleGeneralSubTypeId" asp-items="ViewBag.Titles">
                                                        <option value="">Seçiniz</option>

                                                    </select>
                                                    <input type="hidden" asp-for="@Model.StaffId" />
                                                </div>
                                            </div>

                                           

                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5">
                                            <div class="form-group row ">
                                                <label>Çalışma Şekli *</label>
                                                <div class="input-group">
                                                    <select class="form-control form-control-solid form-control-lg" style=" width: 100% !important;" id="c_ModeOfOperationUpdate" asp-for="ModeOfOperationGeneralSubTypeId" asp-items="ViewBag.ModeOfOperations">
                                                        <option value="">Seçiniz</option>

                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group row ">
                                                <label id="jobFinishDateLbl">Başlangıç Tarihi *</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_45" data-target-input="nearest">
                                                        <input id="ContractStartDate" asp-for="JobStartDate" value="@Model.JobStartDate.ToShortDateString()" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_45" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_45" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="form-group row ">
                                                <label id="jobFinishDateLbl" class="col-xl-4 col-lg-3 col-form-label ">Bitiş Tarihi</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_29" data-target-input="nearest">
                                                        @{
                                                            var date = DateTime.Now.ToShortDateString();
                                                            @if (Model.JobFinishDate != null)
                                                            {
                                                                date = Model.JobFinishDate.Value.ToShortDateString();
                                                            }
                                                            else
                                                            {
                                                                date = "";
                                                            }
                                                        }

                                                        <input id="ContractFinishDate" asp-for="JobFinishDate" value="@date" type="text" class="form-control form-control-lg datetimepicker-input " placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_29" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_29" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>


                        </div>

                        <!--end::Form-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="submit"  class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script>
    $('#c_companyBranchSelectUpdate').select2({
        placeholder: 'Seçiniz'
    });
    $('#c_companySelectUpdate').select2({
        placeholder: 'Seçiniz'
    });
    $('#c_DepartmentUpdate').select2({
        placeholder: 'Seçiniz'
    });
    $('#c_ModeOfOperationUpdate').select2({
        placeholder: 'Seçiniz'
    });
    $('#c_TitleUpdate').select2({
        placeholder: 'Seçiniz'
    });
   
</script>

<script>
    $('#kt_datetimepicker_45').datetimepicker({

    });
    $('#kt_datetimepicker_29').datetimepicker({
        useCurrent: false
    });

    $('#kt_datetimepicker_45').on('change.datetimepicker', function (e) {
        $('#kt_datetimepicker_29').datetimepicker('minDate', e.date);
        var x = $('#ContractStartDate').val().split(".").reverse().join(".");
        var y = $('#ContractFinishDate').val().split(".").reverse().join(".");
        if (x > y) {

            $('#ContractFinishDate').val($('#ContractStartDate').val());
        }
    });
    $('#kt_datetimepicker_29').on('change.datetimepicker', function (e) {
        $('#kt_datetimepicker_45').datetimepicker('maxDate', e.date);
    });
</script>
<script src="~/js/getUpdateStaffCareerModal.js"></script>