@{
    ViewData["Title"] = "Mesai Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";



}
@section Styles{
    <link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
}


<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Notice-->
        <div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
            <div class="alert-icon">
                <span class="svg-icon svg-icon-primary svg-icon-xl">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <path d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z" fill="#000000" opacity="0.3" />
                            <path d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z" fill="#000000" fill-rule="nonzero" />
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
            </div>
            <div class="alert-text">
                FullCalendar, the most popular full-sized JavaScript Calendar v4 Plugin. For more info please visit
                <a class="font-weight-bold" href="https://fullcalendar.io/docs/v4" target="_blank">FullCalendar v4 Documentation</a>.
                <br />
                <span class="label label-danger label-inline font-weight-bold">FullCalendar v5 integration is coming soon</span>
            </div>
        </div>
        <!--end::Notice-->
        <!--begin::Example-->
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Calendar List View</h3>
                </div>
                <div class="card-toolbar">
                    <a href="#" class="btn btn-light-primary font-weight-bold">
                        <i class="ki ki-plus icon-md mr-2"></i>Add Event
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div id="kt_calendar"></div>
            </div>
        </div>
        <!--end::Card-->
        <!--begin::Code example-->
        <div class="example example-compact my-5">
            <div class="example-tools justify-content-center">
                <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
            </div>
            <div class="example-code">
                <ul class="example-nav nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-2x">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#example_code_html">HTML</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#example_code_js">JS</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="example_code_html" role="tabpanel">
                        <div class="example-highlight">
                            <pre>
<code class="language-html">
                &lt;div class="card card-custom"&gt;
                 &lt;div class="card-header"&gt;
                  &lt;div class="card-title"&gt;
                   &lt;h3 class="card-label"&gt;
                    Calendar List View
                   &lt;/h3&gt;
                  &lt;/div&gt;
                  &lt;div class="card-toolbar"&gt;
                   &lt;a href="#" class="btn btn-light-primary font-weight-bold"&gt;
                   &lt;i class="ki ki-plus "&gt;&lt;/i&gt; Add Event
                   &lt;/a&gt;
                  &lt;/div&gt;
                 &lt;/div&gt;
                 &lt;div class="card-body"&gt;
                  &lt;div id="kt_calendar"&gt;&lt;/div&gt;
                 &lt;/div&gt;
                &lt;/div&gt;
    </code>
</pre>
                        </div>
                    </div>
                    <div class="tab-pane" id="example_code_js">
                        <div class="example-highlight">
                            <pre style="height:400px">
<code class="language-js">
                var KTCalendarListView = function() {
                    return {
                        //main function to initiate the module
                        init: function() {
                            var todayDate = moment().startOf('day');
                            var YM = todayDate.format('YYYY-MM');
                            var YESTERDAY = todayDate.clone().subtract(1, 'day').format('YYYY-MM-DD');
                            var TODAY = todayDate.format('YYYY-MM-DD');
                            var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');

                            var calendarEl = document.getElementById('kt_calendar');
                            var calendar = new FullCalendar.Calendar(calendarEl, {
                                plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],

                                isRTL: KTUtil.isRTL(),
                                header: {
                                    left: 'prev,next today',
                                    center: 'title',
                                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                                },

                                height: 800,
                                contentHeight: 750,
                                aspectRatio: 3,  // see: https://fullcalendar.io/docs/aspectRatio

                                views: {
                                    dayGridMonth: { buttonText: 'month' },
                                    timeGridWeek: { buttonText: 'week' },
                                    timeGridDay: { buttonText: 'day' },
                                    listDay: { buttonText: 'list' },
                                    listWeek: { buttonText: 'list' }
                                },

                                defaultView: 'listWeek',
                                defaultDate: TODAY,

                                editable: true,
                                eventLimit: true, // allow "more" link when too many events
                                navLinks: true,
                                events: [
                                    {
                                        title: 'All Day Event',
                                        start: YM + '-01',
                                        description: 'Toto lorem ipsum dolor sit incid idunt ut',
                                        className: "fc-event-danger fc-event-solid-warning"
                                    },
                                    {
                                        title: 'Reporting',
                                        start: YM + '-14T13:30:00',
                                        description: 'Lorem ipsum dolor incid idunt ut labore',
                                        end: YM + '-14',
                                        className: "fc-event-success"
                                    },
                                    {
                                        title: 'Company Trip',
                                        start: YM + '-02',
                                        description: 'Lorem ipsum dolor sit tempor incid',
                                        end: YM + '-03',
                                        className: "fc-event-primary"
                                    },
                                    {
                                        title: 'ICT Expo 2017 - Product Release',
                                        start: YM + '-03',
                                        description: 'Lorem ipsum dolor sit tempor inci',
                                        end: YM + '-05',
                                        className: "fc-event-light fc-event-solid-primary"
                                    },
                                    {
                                        title: 'Dinner',
                                        start: YM + '-12',
                                        description: 'Lorem ipsum dolor sit amet, conse ctetur',
                                        end: YM + '-10'
                                    },
                                    {
                                        id: 999,
                                        title: 'Repeating Event',
                                        start: YM + '-09T16:00:00',
                                        description: 'Lorem ipsum dolor sit ncididunt ut labore',
                                        className: "fc-event-danger"
                                    },
                                    {
                                        id: 1000,
                                        title: 'Repeating Event',
                                        description: 'Lorem ipsum dolor sit amet, labore',
                                        start: YM + '-16T16:00:00'
                                    },
                                    {
                                        title: 'Conference',
                                        start: YESTERDAY,
                                        end: TOMORROW,
                                        description: 'Lorem ipsum dolor eius mod tempor labore',
                                        className: "fc-event-primary"
                                    },
                                    {
                                        title: 'Meeting',
                                        start: TODAY + 'T10:30:00',
                                        end: TODAY + 'T12:30:00',
                                        description: 'Lorem ipsum dolor eiu idunt ut labore'
                                    },
                                    {
                                        title: 'Lunch',
                                        start: TODAY + 'T12:00:00',
                                        className: "fc-event-info",
                                        description: 'Lorem ipsum dolor sit amet, ut labore'
                                    },
                                    {
                                        title: 'Meeting',
                                        start: TODAY + 'T14:30:00',
                                        className: "fc-event-warning",
                                        description: 'Lorem ipsum conse ctetur adipi scing'
                                    },
                                    {
                                        title: 'Happy Hour',
                                        start: TODAY + 'T17:30:00',
                                        className: "fc-event-info",
                                        description: 'Lorem ipsum dolor sit amet, conse ctetur'
                                    },
                                    {
                                        title: 'Dinner',
                                        start: TOMORROW + 'T05:00:00',
                                        className: "fc-event-solid-danger fc-event-light",
                                        description: 'Lorem ipsum dolor sit ctetur adipi scing'
                                    },
                                    {
                                        title: 'Birthday Party',
                                        start: TOMORROW + 'T07:00:00',
                                        className: "fc-event-primary",
                                        description: 'Lorem ipsum dolor sit amet, scing'
                                    },
                                    {
                                        title: 'Click for Google',
                                        url: 'http://google.com/',
                                        start: YM + '-28',
                                        className: "fc-event-solid-info fc-event-light",
                                        description: 'Lorem ipsum dolor sit amet, labore'
                                    }
                                ],

                                eventRender: function(info) {
                                    var element = $(info.el);

                                    if (info.event.extendedProps &amp;&amp; info.event.extendedProps.description) {
                                        if (element.hasClass('fc-day-grid-event')) {
                                            element.data('content', info.event.extendedProps.description);
                                            element.data('placement', 'top');
                                            KTApp.initPopover(element);
                                        } else if (element.hasClass('fc-time-grid-event')) {
                                            element.find('.fc-title').append('&lt;div class="fc-description"&gt;' + info.event.extendedProps.description + '&lt;/div&gt;');
                                        } else if (element.find('.fc-list-item-title').lenght !== 0) {
                                            element.find('.fc-list-item-title').append('&lt;div class="fc-description"&gt;' + info.event.extendedProps.description + '&lt;/div&gt;');
                                        }
                                    }
                                }
                            });

                            calendar.render();
                        }
                    };
                }();

                jQuery(document).ready(function() {
                    KTCalendarListView.init();
                });
    </code>
</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Code example-->
        <!--end::Example-->
    </div>
    <!--end::Container-->
</div>




@section Scripts{

    <script src="assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="assets/js/pages/features/calendar/list-view.js"></script>
    <!--end::Page Scripts-->

}