@model ListStaffLeaveDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="staffLeaveUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        <i class="fas fa-address-book mr-2 text-dark"></i>İzin Düzenle
                    </h3>

                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form asp-controller="Staff" asp-action="UpdateStaffLeave" method="POST">
                <input type="hidden" asp-for="StaffId" />
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <!--begin::Header-->
                            <!--end::Header-->

                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-xl-5 col-lg-3 col-form-label">İzin Türü</label>
                                                <div class="col-lg-9 col-xl-7">
                                                    <select class="form-control form-control-solid form-control-lg" asp-for="LeaveTypeGeneralSubTypeId" asp-items="ViewBag.LeaveTypes">
                                                        <option value="-1">Seçiniz</option>

                                                    </select>

                                                </div>
                                                <input type="hidden" asp-for="StaffId" />
                                                <input type="hidden" asp-for="GeneralStatusGeneralSubTypeId" />
                                                <input type="hidden" asp-for="IsActive" />
                                                <input type="hidden" asp-for="StaffLeaveId" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="form-group row ">
                                                <label class="col-form-label col-xl-5 col-lg-3 ">Toplam Gün</label>
                                                <div class="col-lg-9 col-xl-7">
                                                    <input id="kt_touchspin_2" type="text" class="form-control text-center" name="TotalDay" value="@Model.TotalDay"  placeholder="Toplam" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group row ">
                                                <label class="col-xl-5 col-lg-3 col-form-label">Başlangıç Tarihi</label>
                                                <div class="col-lg-9 col-xl-7">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_16" data-target-input="nearest">
                                                        <input asp-for="LeaveStartDate" value="@Model.LeaveStartDate.ToShortDateString()" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_16" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_16" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group row ">
                                                <label class="col-xl-5 col-lg-3 col-form-label">Bitiş Tarihi</label>
                                                <div class="col-lg-9 col-xl-7">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_17" data-target-input="nearest">
                                                        <input asp-for="LeaveEndDate" value="@Model.LeaveEndDate.ToShortDateString()" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_17" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_17" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-xl-3 pr-0 col-lg-3 col-form-label">Açıklama</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <div class="input-group  pl-0  input-group-lg input-group-solid">

                                                        <textarea type="text" class="form-control form-control-lg form-control-solid" asp-for="Description" placeholder="Açıklama"></textarea>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>


                    </div>

                    <!--end::Form-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="btnNewStaff" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    $('#kt_touchspin_2, #kt_touchspin_2_2').TouchSpin({
        buttondown_class: 'btn btn-secondary',
        buttonup_class: 'btn btn-secondary',
        min: 0,
        max: 100,
        step: 1,
        int: 1,
        boostat: 5,
        maxboostedstep: 10,
        
    }); 
</script>