@model List<ListStaffDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="flex-row-fluid ml-lg-8">
    <!--begin::Form-->
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
        <!--begin::Header-->
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">
                    <i class="fas fa-address-book mr-2 text-dark"></i>Çalışanlar
                </h3>
                @*<span class="text-muted font-weight-bold font-size-sm mt-1">selam mami</span>*@
            </div>
            <div class="card-toolbar">
                <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#staticBackdrop">
                    Yeni Çalışan Ekle
                </button>


            </div>
        </div>
        <!--end::Header-->
        @*modal*@
        <div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="card-title align-items-start flex-column">
                            <h3 class="card-label font-weight-bolder text-dark">
                                <i class="fas fa-address-book mr-2 text-dark"></i>Yeni Çalışan Ekle
                            </h3>

                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="ki ki-close"></i>
                        </button>
                    </div>
                    <form id="modalForm" method="POST">
                        <div class="modal-body">
                            <div class="flex-row-fluid ">
                                <!--begin::Form-->
                                <!--begin::Card-->
                                <div class="card card-custom card-stretch">
                                    <!--begin::Header-->
                                    <!--end::Header-->

                                    <div class="container ">
                                        <!--begin::Body-->
                                        <div class="card-body mx-auto">

                                            <div class="row">

                                                <div class="col-md-6 ">
                                                    <div class="form-group row justify-content-center">
                                                        <label class="col-xl-4 col-lg-3 col-form-label ">Ad Soyad</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <input name="NameSurname" class="form-control form-control-lg form-control-solid" type="text" placeholder="Ad Soyad"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row justify-content-center">
                                                        <label class="col-xl-4 col-lg-3 col-form-label">E-Posta (İş)</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <div class="input-group input-group-lg input-group-solid">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-at"></i>
                                                                    </span>
                                                                </div>
                                                                <input name="EmailJob" type="text" class="form-control form-control-lg form-control-solid" placeholder="E-Posta (İş)" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row justify-content-center">
                                                        <label class="col-xl-4 col-lg-3 col-form-label">Telefon (İş)</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <div class="input-group input-group-lg input-group-solid">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-phone"></i>
                                                                    </span>
                                                                </div>
                                                                <input name="PhoneJob" type="text" class="form-control form-control-lg form-control-solid" placeholder="Telefon (İş)" />
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group row justify-content-center">
                                                        <label class="col-xl-4 col-lg-3 col-form-label">Sözleşme Türü</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <select id="ContractTypeSelect" name="ContractTypeId" class="form-control form-control-solid form-control-lg " asp-items="ViewBag.ContractTypes">
                                                                <option  value="-1">Seçiniz</option>

                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row justify-content-center">
                                                        <label id="jobFinishDateLbl" class="col-xl-4 col-lg-3 col-form-label text-muted ">Sözleşme Bitiş Tarihi</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <div class="input-group date input-group-solid" id="kt_datetimepicker_3" data-target-input="nearest">
                                                                <input id="ContractFinishDate" name="JobFinishDate" type="text" class="form-control form-control-lg datetimepicker-input  text-muted" disabled placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_3" />
                                                                <div class="input-group-append" data-target="#kt_datetimepicker_3" data-toggle="datetimepicker">
                                                                    <span class="input-group-text">
                                                                        <i class="ki ki-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row justify-content-center">
                                                        <label class="col-xl-4 col-lg-3 col-form-label ">İşe Başlama Tarihi</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <div class="input-group date input-group-solid" id="kt_datetimepicker_2" data-target-input="nearest">
                                                                <input type="text" name="JobJoinDate" class="form-control datetimepicker-input form-control-lg" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_2" />
                                                                <div class="input-group-append  " data-target="#kt_datetimepicker_2" data-toggle="datetimepicker">
                                                                    <span class="input-group-text">
                                                                        <i class="ki ki-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group row justify-content-center">
                                                        <label class="col-xl-4 col-lg-3 col-form-label">E-Posta (Kişisel)</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <div class="input-group input-group-lg input-group-solid">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-at"></i>
                                                                    </span>
                                                                </div>
                                                                <input type="text" name="EmailPersonal" class="form-control form-control-lg form-control-solid"placeholder="E-Posta (Kişisel)" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row justify-content-center">
                                                        <label class="col-xl-4 col-lg-3 col-form-label">Telefon (Kişisel)</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <div class="input-group input-group-lg input-group-solid">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-phone"></i>
                                                                    </span>
                                                                </div>
                                                                <input type="text" name="PhonePersonal" class="form-control form-control-lg form-control-solid" placeholder="Telefon (Kişisel)"/>
                                                               
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="form-group row justify-content-center">
                                                        <label class="col-xl-4 col-lg-3 col-form-label">Erişim Türü</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <select class="form-control form-control-solid form-control-lg" name="RoleId" asp-items="ViewBag.Roles">
                                                                <option value="-1">Seçiniz</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row justify-content-center">
                                                        <label class="col-xl-4 col-lg-3 col-form-label">Sistemi Kullanacak mı ?</label>
                                                        <div class="col-lg-9 col-xl-6">
                                                            <span class="switch switch-primary">
                                                                <label>
                                                        
                                                                    <input type="checkbox"  name="WillUseSystem" value="1" />
                                                                   
                                                                    <span></span>
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Body-->
                                    </div>


                                </div>

                                <!--end::Form-->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                            <button type="submit" id="btnNewStaff" class="btn btn-primary font-weight-bold">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <!--begin::Body-->
            <div class="row">
                @foreach (var item in Model)
                {
                    <!--begin::Col-->
                    <div class="col-md-2 my-4">
                        <a asp-controller="Staff" asp-action="UpdateStaff" asp-route-id="@item.StaffId">
                            <!--begin::Card-->
                            <div class="card card-custom gutter-b shadow p-0 mb-1 justify-content-center">
                                <!--begin::Body-->
                                <div class="card-body text-center" style="padding: 0rem;">

                                    <!--begin::User-->
                                    <div class="mt-7">
                                        <div class="symbol symbol-circle symbol-lg-100">
                                            <img src="assets/media/users/300_5.jpg" alt="image" />
                                        </div>
                                        <div class="symbol symbol-lg-75 symbol-circle symbol-primary d-none">
                                            <span class="font-size-h3 font-weight-boldest">JB</span>
                                        </div>
                                    </div>
                                    <!--end::User-->
                                    <!--begin::Name-->
                                    <div class="my-1">
                                        <a href="#" class="text-dark font-weight-bold text-hover-primary font-size-h6">@item.NameSurname</a>
                                    </div>
                                    <!--end::Name-->
                                    <!--begin::Label-->
                                    <span class="mt-3 label label-inline label-lg label-light-primary btn-sm font-weight-bold"><i class="fas fa-envelope mr-2 text-danger"></i> @item.EmailPersonal</span>
                                    <!--end::Label-->
                                    <!--begin::Buttons-->
                                    <div class="mt-2 mb-6">
                                        <span class="label label-inline label-lg label-light-primary btn-sm font-weight-bold"><i class="fas fa-phone-alt mr-2 text-success"></i> @item.PhoneJob</span>
                                    </div>
                                    <!--end::Buttons-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Card-->
                        </a>

                    </div>
                    <!--end::Col-->
                }
            </div>
            <!--end::Body-->
        </div>


    </div>

    <!--end::Form-->
</div>


<!--begin::Card-->
<div class="card card-custom">
    <!--begin::Row-->
    <!--end::Row-->
</div>


@section Scripts{
    <script src="~/assets/js/pages/crud/forms/widgets/bootstrap-datetimepicker.js"></script>

    @*sözleşme türü süreli ise tarih seçme alanı disabled olmamalı, süresizse disable olmalı*@
    <script type="text/javascript">

        $('#ContractTypeSelect').on('change', function () {
            var id = document.getElementById("ContractTypeSelect").value;
            if (id == 1) {
                $("#ContractFinishDate").attr("disabled", false);
                $("#ContractFinishDate").removeClass("text-muted");
                $("#jobFinishDateLbl").removeClass("text-muted");
            }
            else {
                $("#ContractFinishDate").attr("disabled", true);
                $("#ContractFinishDate").addClass("text-muted");
                $("#jobFinishDateLbl").addClass("text-muted");
            }
        });
    </script>

    <script>

        $(document).on("submit", "#modalForm", function (event) { //infoForm id li form post edildiğinde
            
            
            event.preventDefault();
            
            $.ajax({
                url: "/Staff/AddStaffWithAjax",
                type: "POST",
                data: new FormData(this),
                dataType: "json",
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    alert(data["result"]); //post sonucunu yazdir
                    console.log(data['data']); //girilen verileri console ekranina yazdır
                }
            });
        });
    </script>

}