
@{
    ViewData["Title"] = "Refectory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <!--end::Page Title-->
            <!--begin::Actions-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Yemekhane İşlemleri</h5>
            <!--end::Actions-->
        </div>
        <!--end::Info-->


    </div>
</div>
<div class="card card-custom ">
    @*@await Component.InvokeAsync("StaffNavbar", new { id = @ViewBag.StaffId })*@
    <div class="card-body">
        <!--begin::Profile Personal Information-->
        <div class="d-flex flex-row">

            <!--begin::Aside-->
            <div class=" col-md-3" style="height: 220px; " id="kt_profile_aside">
                <!--begin::Profile Card-->
                <div class="card card-custom card-stretch">
                    <!--begin::Body-->
                    <div class="card-body pt-4">
                        <!--begin::User-->
                        <div class=" align-items-center">
                            <!--begin::Card-->

                            <form method="post" asp-action="AddExcelWithAjax" asp-controller="UploadFile" enctype="multipart/form-data">
                                <div>
                                    <input type="hidden" name="categoryId" value="2" />

                                    <div class="form-group">
                                        <div></div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="file" id="customFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                            <label class="custom-file-label" for="customFile">Dosya Seç</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-9 col-xl-12">
                                        <div class="input-group date input-group-solid" id="kt_datetimepicker_2" data-target-input="nearest">
                                            <input name="Date" type="text" class="form-control datetimepicker-input form-control-lg" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_2" />
                                            <div class="input-group-append  " data-target="#kt_datetimepicker_2" data-toggle="datetimepicker">
                                                <span class="input-group-text">
                                                    <i class="ki ki-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" justify-content-center">
                                    <button id="uploadButton" type="submit" class="btn btn-primary btn-block btn-lg mt-2 ">Kaydet </button>
                                </div>
                            </form>
                        </div>

                        <!--begin::Contact-->

                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Profile Card-->
            </div>
            <!--end::Aside-->
            <!--begin: Datatable-->
            <div class="tab-content w-100">
                <div class="tab-pane active " role="tabpanel" id="kt_apps_contacts_view_tab_2">
                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class="container">
                            <!--begin::Notice-->
                            <!--end::Notice-->
                            <!--begin::Card-->
                            <div class="card card-custom">
                                <div class="card-header flex-wrap py-5">
                                    <div class="card-title">
                                        <i class="fas fa-building text-dark mr-2"></i>
                                        <h3 id="VariableTitle" class="card-label">
                                            Şirketler

                                        </h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <!--begin::Button-->
                                        <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#companyAddModal">
                                            Ekle
                                        </button>
                                        <!--end::Button-->
                                    </div>
                                </div>
                                <div class="card-body">

                                    <table class="table table-separate table-head-custom table-checkable" id="kt_datatable">
                                        <thead>
                                            <tr>
                                                <th>Şirket Adı</th>
                                                <th>İşlemler</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td width="85%">asdsdasdsdasfsaf</td>
                                                <td width="15%">
                                                    <a id="CareerUpdateBtn" onclick="CompanyUpdate()" class="btn btn-sm btn-clean btn-icon" title="Edit details">
                                                        <i class="la la-edit text-warning"></i>
                                                    </a>
                                                    <a class="btn btn-sm btn-clean btn-icon" title="Delete" onclick="DeleteCompany()">

                                                        <i class="la la-trash text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--end::Card-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->
                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts{
    @*dosya ekleme başarılı için sweet alert*@
    <script>
        $(document).ready(function () {

            if (@ViewBag.FileGeneralUpdateStatus == true) {
                Swal.fire("Yüklendi!", "Dosya yükleme işlemi başarılı!", "success");
            }
        });
    </script>
}
