

<div class="modal fade" id="GetSalaryMonthlyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 id="" class="card-label font-weight-bolder text-dark lead">
                        <i class="fas fa-credit-card mr-2 text-dark"></i>Personel Hesap Pusulası
                    </h3>

                </div>
                <button type="button" class="text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <table class="justify-content-center">
                            <tr>
                                <th>T.C. Kimlik No :</th>
                                <td>215415454155</td>
                            </tr>
                            <tr>
                                <th>Ad Soyad :</th>
                                <td>Hasan Taş</td>
                            </tr>
                            <tr>
                                <th>İşe Giriş Tarihi :</th>
                                <td>15 Haziran 2021</td>
                            </tr>
                            <tr>
                                <th>Bordro Hazırlanma Tarihi :</th>
                                <td>15 Temmuz 2021</td>
                            </tr>
                            <tr>
                                <th>Şube :</th>
                                <td>Gebze</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <table>
                            <tr>
                                <th>Görevi :</th>
                                <td>215415454155</td>
                            </tr>
                            <tr>
                                <th>Saat Ücreti :</th>
                                <td>Hasan Taş</td>
                            </tr>
                            <tr>
                                <th>Agi Hariç Maaş :</th>
                                <td>15 Haziran 2021</td>
                            </tr>
                            <tr>
                                <th>Hakedilen Agi :</th>
                                <td>15 Temmuz 2021</td>
                            </tr>
                            <tr>
                                <th>Agi Dahil Maaş :</th>
                                <td>Gebze</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th width="25%">Kazançlar </th>
                                    <th width="25%">Gün </th>
                                    <th width="25%">Saat </th>
                                    <th width="25%">Tutarlar </th>

                                </tr>
                            </thead>
                            <tbody class="mt-5">
                                <tr style="margin-top:25%!important;">
                                    <td>Normal Çalışma</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td contenteditable='true'>asfasf</td>
                                </tr>
                                <tr>
                                    <td>Hafta Tatili</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td contenteditable='true'>asfasf</td>
                                </tr>
                                <tr>
                                    <td>Ücretli İzin</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td>Normal Mesai</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td>Pazar / Bayram Mesaisi</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td>Prim</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td>İkramiye</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td>Ek Kazanç 1</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td>Ek Kazanç 2</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                            </tbody>
                            <tfoot class="border-top">
                                <tr>
                                    <td class="font-weight-boldest" colspan="3">Toplam Kazanç :</td>
                                    <td colspan="1">545454</td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                    <div class="col-md-6 border-left">
                        <table class="table table-borderless ">
                            <thead>
                                <tr>
                                    <th width="25%">Kesintiler </th>
                                    <th width="25%">Gün </th>
                                    <th width="25%">Saat </th>
                                    <th width="25%">Tutarlar </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Devamsızlık</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td>Ücretsiz İzin</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td>Rapor</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td>Avans Kesintileri</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td>İcra Kesintileri</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td>Bireysel Emeklilik Kesintisi</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td>Kesinti 1 :</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td>Kesinti 2 :</td>
                                    <td>asfsaf</td>
                                    <td>safasf</td>
                                    <td>asfasf</td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>

                            </tbody>
                            <tfoot class="border-top">
                                <tr>
                                    <td class="font-weight-boldest" colspan="3">Toplam Kesinti :</td>
                                    <td colspan="1">545454</td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
                <hr />
                <div class="row my-5">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 font-weight-boldest border p-3"> Hesaba Yatırılacak Toplam Kazanç :</div>
                </div>

                <div class="row border p-5">
                    <div class="col-md-6 pb-9">
                        İş Alan İmza :
                        <br />
                        <br />
                    </div>
                    <div class="col-md-6  pb-9">
                        İş Veren İmza :
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="approveShiftDash()" class="btn btn-primary font-weight-bold"><i class="fas fa-print"></i> Yazdır</button>
            </div>
        </div>
    </div>

</div>

