
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
}
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <!--end::Page Title-->
            <!--begin::Actions-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Borç - İcra Takip</h5>
            <!--end::Actions-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">

        </div>
        <!--end::Toolbar-->
    </div>
</div>

<br />
<!--begin::Card-->
<div class="card card-custom">

    <div class="card-body">
        <div class="row">
            <div class="col-md-10">
                <span class="text-dark mb-4 font-weight-bold font-size-h4"><i class="fas fa-credit-card text-dark mr-2"></i> Borç - İcra Takip Tablosu</span>
            </div>
            <!--begin::Search Form-->
            <div class="mb-7 col-md-2">
                <div class="my-2 my-md-0 ">
                    <div class="input-icon ">
                        <input type="text" class="form-control" placeholder="Ara" id="kt_datatable_search_query" />
                        <span>
                            <i class="flaticon2-search-1 text-muted"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Search Form-->
        <!--begin: Datatable-->
        <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable4545"></div>
        <!--end: Datatable-->
    </div>
</div>



@* add installment modal*@
<div class="modal fade" id="staffInstallmentAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark lead">
                        <i class="fas fa-credit-card mr-2 text-dark"></i>Taksit Ekle
                    </h3>

                </div>
                <button type="button" class="text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="modalAddInstallmentForm" method="POST">
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">
                                    <div class="row">
                                        <div class="col-md-5 ">
                                            <div class="form-group row  ">
                                                <label id="jobStartDateLbl">Ödeme Tarihi *</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_5" data-target-input="nearest">
                                                        <input id="PaymentDate" name="PaymentDate" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_5" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_5" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label></label>
                                                <div class="input-group col-form-label">
                                                    <div class="checkbox-inline">
                                                        <label class="checkbox checkbox-primary">
                                                            <input id="IsPaid" type="checkbox" name="IsPaid" />
                                                            <span></span>
                                                            Taksit ödemesi alındı
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-2"> </div>
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label>Taksit Tutarı *</label>
                                                <div class="input-group">
                                                    <input id="InstallmentAmount" name="InstallmentAmount" type="text" class="form-control form-control-solid form-control-lg">
                                                </div>
                                            </div>
                                            <input hidden type="text" id="StaffPaymentId" name="StaffPaymentId" />
                                        </div>

                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>
                        </div>
                        <!--end::Form-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="button" onclick="AddInstallmentButton()" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Card-->

<div id="InstallmentUpdateModalDiv">   </div>
@section Scripts{
    <script>
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/assets/js/pages/crud/ktdatatable/child/data-ajax.js" charset="windows-1254"></script>
    <!--end::Page Scripts-->
}