
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
}
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <!--end::Page Title-->
            <!--begin::Actions-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Borç - İcra Takip</h5>
            <!--end::Actions-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">

        </div>
        <!--end::Toolbar-->
    </div>
</div>

<br />
<!--begin::Card-->
<div class="card card-custom">

    <div class="card-body">
        <div class="row">
            <div class="col-md-10">
                <span class="text-dark mb-4 font-weight-bold font-size-h4"><i class="fas fa-credit-card text-dark mr-2"></i> Borç - İcra Takip Tablosu</span>
            </div>
            <!--begin::Search Form-->
            <div class="mb-7 col-md-2">
                <div class="my-2 my-md-0 ">
                    <div class="input-icon ">
                        <input type="text" class="form-control" placeholder="Ara" id="kt_datatable_search_query" />
                        <span>
                            <i class="flaticon2-search-1 text-muted"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Search Form-->
        <!--begin: Datatable-->
        <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable4545"></div>
        <!--end: Datatable-->
    </div>
</div>



@* add installment modal*@
<div class="modal fade" id="staffInstallmentAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark lead">
                        <i class="fas fa-credit-card mr-2 text-dark"></i>Taksit Ekle
                    </h3>

                </div>
                <button type="button" class="text-white bg-danger link-2" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="modalAddInstallmentForm" method="POST">
                <div class="modal-body">
                    <div class="flex-row-fluid ">
                        <!--begin::Form-->
                        <!--begin::Card-->
                        <div class="card card-custom card-stretch">
                            <div class="container ">
                                <!--begin::Body-->
                                <div class="card-body mx-auto">
                                    <div class="row">
                                        <div class="col-md-5 ">
                                            <div class="form-group row  ">
                                                <label id="jobStartDateLbl">Ödeme Tarihi *</label>
                                                <div class="input-group">
                                                    <div class="input-group date input-group-solid" id="kt_datetimepicker_5" data-target-input="nearest">
                                                        <input id="PaymentDate" name="PaymentDate" type="text" class="form-control form-control-lg datetimepicker-input" placeholder="Tarih Seçiniz" data-target="#kt_datetimepicker_5" />
                                                        <div class="input-group-append" data-target="#kt_datetimepicker_5" data-toggle="datetimepicker">
                                                            <span class="input-group-text">
                                                                <i class="ki ki-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label></label>
                                                <div class="input-group col-form-label">
                                                    <div class="checkbox-inline">
                                                        <label class="checkbox checkbox-primary">
                                                            <input id="IsPaid" type="checkbox" name="IsPaid" />
                                                            <span></span>
                                                            Taksit ödemesi alındı
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-2"> </div>
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label>Taksit Tutarı *</label>
                                                <div class="input-group">
                                                    <input id="InstallmentAmount" name="InstallmentAmount" type="text" class="form-control form-control-solid form-control-lg">
                                                </div>
                                            </div>
                                            <input hidden type="text" id="StaffPaymentId" name="StaffPaymentId" />
                                        </div>

                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>
                        </div>
                        <!--end::Form-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Vazgeç</button>
                    <button type="button" onclick="AddInstallmentButton()" class="btn btn-primary font-weight-bold">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Card-->

<div id="InstallmentUpdateModalDiv">   </div>
@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" ></script>
    <script>
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
    <script>
        'use strict';
        // Class definition

        var KTDatatableChildRemoteDataDemo = function () {
            // Private functions

            // demo initializer
            var demo = function () {
                var datatable = $('#kt_datatable').KTDatatable({
                    // datasource definition
                    data: {
                        type: 'remote',
                        source: {
                            read: {
                                url: "/TakePayment/GetStaffPayments",
                            },
                        },
                        pageSize: 10, // display 20 records per page
                        serverPaging: true,
                        serverFiltering: false,
                        serverSorting: true,
                    },

                    // layout definition
                    layout: {
                        scroll: false,
                        footer: false,
                    },

                    // column sorting
                    sortable: true,

                    pagination: true,

                    detail: {
                        title: 'Load sub table',
                        content: subTableInit,
                    },

                    search: {
                        input: $('#kt_datatable_search_query'),
                        key: 'generalSearch'
                    },

                    // columns definition
                    columns: [

                        {
                            field: 'staffPaymentId',
                            title: '#',
                            sortable: 'asc',
                            width: 40,
                        }, {
                            field: 'nameSurname',
                            title: 'Ad Soyad',
                            sortable: 'asc',
                            template: function (row) {
                                return '\
                                         <a href="/StaffGeneral/Index/'+ row.staffId + '">' + row.nameSurname + ' </a>\
                                    ';
                            },
                        }, {
                            field: 'paymentType',
                            title: 'Ödeme Türü',
                            sortable: 'asc',
                        }, {
                            field: 'creationDate',
                            title: 'Tarih',
                            template: function (row) {
                                var formattedDate = new Date(row.creationDate);
                                var d = formattedDate.getDate();
                                var m = formattedDate.getMonth();
                                m += 1;  // JavaScript months are 0-11
                                var y = formattedDate.getFullYear();
                                if (d < 10) {
                                    d = "0" + d;
                                }
                                if (m < 10) {
                                    m = "0" + m;
                                }
                                return d + "." + m + "." + y;

                            }
                        }, {
                            field: 'amount',
                            title: 'Toplam Tutar',
                            sortable: 'asc',
                            template: function (row) {

                                return row.amount + " " + row.currencyType;
                            }
                        }, {
                            field: 'installment',
                            title: 'Taksit Miktarı',
                            sortable: 'asc',
                        }, {
                            field: 'Actions',
                            width: 125,
                            title: 'İşlem',
                            class: 'text-center',
                            sortable: false,
                            overflow: 'visible',
                            autoHide: false,
                            template: function (row) {
                                return '\
                                     <div class="text-center">\
                                         <a onclick="InstallmentAddModal('+ row.staffPaymentId + ')" class="btn btn-sm btn-primary btn-icon mr-2" title="Taksit Ekle">\
                                             <span class="svg-icon svg-icon-md">\
                                                  <i class="fa fa-plus text-white"></i>\
                                              </span>\
                                          </a>\
                                     </div>\
                                    ';
                            },
                        }],
                });

                $('#kt_datatable_search_status').on('change', function () {
                    datatable.search($(this).val().toLowerCase(), 'Status');
                });

                $('#kt_datatable_search_type').on('change', function () {
                    datatable.search($(this).val().toLowerCase(), 'Type');
                });

                $('#kt_datatable_search_status, #kt_datatable_search_type').selectpicker();


                function subTableInit(e) {
                    $('<div/>').attr('id', 'child_data_ajax_' + e.data.staffPaymentId).appendTo(e.detailCell).KTDatatable({
                        data: {
                            type: 'remote',
                            source: {
                                read: {
                                    url: "/TakePayment/GetStaffPaymentInfo/" + e.data.staffPaymentId,
                                    params: {
                                        // custom query params
                                        query: {
                                            generalSearch: '',
                                            CustomerID: e.data.RecordID,
                                        },
                                    },
                                },
                            },
                            pageSize: 5,
                            serverPaging: true,
                            serverFiltering: false,
                            serverSorting: true,

                        },

                        // layout definition
                        layout: {
                            scroll: false,
                            footer: false,

                            // enable/disable datatable spinner.
                            spinner: {
                                type: 1,
                                theme: 'default',
                            },
                        },

                        sortable: true,

                        // columns definition
                        columns: [
                            {
                                field: 'id',
                                title: '#',
                                width: 40
                            }, {
                                field: 'paymentDate',
                                title: 'Ödeme Tarihi',
                                sortable: 'asc',
                                template: function (row) {
                                    var formattedDate = new Date(row.paymentDate);
                                    var d = formattedDate.getDate();
                                    var m = formattedDate.getMonth();
                                    m += 1;  // JavaScript months are 0-11
                                    var y = formattedDate.getFullYear();
                                    if (d < 10) {
                                        d = "0" + d;
                                    }
                                    if (m < 10) {
                                        m = "0" + m;
                                    }
                                    return d + "." + m + "." + y;

                                },
                            }, {
                                field: 'installmentAmount',
                                title: 'Taksit Tutarı',
                                sortable: true,
                                orderable: true,
                                template: function (row) {

                                    return row.installmentAmount + " " + row.currencyType;
                                }
                            }, {
                                field: 'isPaid',
                                title: 'Durumu',
                                // callback function support for column rendering
                                template: function (row) {
                                    if (row.isPaid == true) {
                                        return '<span class="label label-light-success label-inline font-weight-bold label-lg">Ödeme Alındı</span>';
                                    } else {
                                        return '<span class="label label-light-danger label-inline font-weight-bold label-lg">Ödeme Alınmadı</span>';
                                    }
                                },
                            }, {
                                field: 'Actions',
                                width: 125,
                                title: 'İşlem',
                                class: 'text-center',
                                sortable: false,
                                overflow: 'visible',
                                autoHide: false,
                                template: function (row) {
                                    if (row.isPaid == true) {
                                        return '\
                                         <div class="text-center">\
                                            <a onclick="getInstallmentUpdateModal('+ row.id + ')" class="btn btn-sm btn-warning btn-icon mr-2" title="Düzenle">\
                                                <span class="svg-icon svg-icon-md">\
                                                    <i class="fa fa-edit text-white"></i>\
                                                </span>\
                                            </a>\
                                            <a onclick="DeleteInstallment('+ row.id + ')" class="btn btn-sm btn-danger btn-icon" title="Sil">\
                                                <span class="svg-icon svg-icon-md">\
                                                     <i class="fa fa-trash text-white"></i>\
                                                </span>\
                                            </a>\
                                        </div>\
                                    ';
                                    } else {
                                        return '\
                                         <div class="text-center">\
                                             <a onclick="ApproveInstallment('+ row.id + ')"  class="btn btn-sm btn-success btn-icon mr-2" title="Onayla">\
                                                <span class="svg-icon svg-icon-md">\
                                                    <i class="fa fa-check text-white"></i>\
                                                </span>\
                                            </a>\
                                            <a onclick="getInstallmentUpdateModal('+ row.id + ')" class="btn btn-sm btn-warning btn-icon mr-2" title="Düzenle">\
                                                <span class="svg-icon svg-icon-md">\
                                                    <i class="fa fa-edit text-white"></i>\
                                                </span>\
                                            </a>\
                                            <a onclick="DeleteInstallment('+ row.id + ')" class="btn btn-sm btn-danger btn-icon" title="Sil">\
                                                <span class="svg-icon svg-icon-md">\
                                                     <i class="fa fa-trash text-white"></i>\
                                                </span>\
                                            </a>\
                                        </div>\
                                    ';
                                    }

                                },
                            }],
                        "serverSide": "true",
                        "order": [1, "asc"]
                    });
                    console.log(e)
                }
            };

            return {
                // Public functions
                init: function () {
                    // init dmeo
                    demo();
                },
            };
        }();

        jQuery(document).ready(function () {
            KTDatatableChildRemoteDataDemo.init();
        });

        $("#InstallmentAmount").mask('000000000000,00', { reverse: true });
        $('input[name="PaymentDate"]').mask('00.00.0000');

        var fvInstallment = FormValidation.formValidation(document.getElementById('modalAddInstallmentForm'), {
            fields: {
                PaymentDate: {
                    validators: {
                        notEmpty: {
                            message: 'Tarih alanı boş geçilemez'
                        },
                        date: {
                            format: 'DD.MM.YYYY',
                            message: 'Geçerli bir tarih girin'
                        }

                    }
                },
                InstallmentAmount: {
                    validators: {
                        notEmpty: {
                            message: 'Tutar alanı boş geçilemez'
                        },
                        numeric: {
                            message: ' Tutar rakamlardan oluşmalıdır',
                            decimalSeparator: ','
                        }
                    }
                },
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                // Bootstrap Framework Integration
                bootstrap: new FormValidation.plugins.Bootstrap(),
                // Validate fields when clicking the Submit button
                // submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                // defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
            },
        });
        function AddInstallmentButton() {

            fvInstallment.validate().then(function (status) {
                // Update the login button content based on the validation status
                if (status == 'Valid') {
                    var formData = {
                        StaffPaymentId: $("#StaffPaymentId").val(),
                        PaymentDate: $("#PaymentDate").val(),
                        IsPaid: $("#IsPaid").is(":checked"),
                        InstallmentAmount: $("#InstallmentAmount").val(),
                    };
                    $.ajax({
                        method: 'post',
                        url: '/TakePayment/AddInstallment',
                        data: formData,
                        success: function (data) {
                            if (data == true) {
                                Swal.fire({
                                    title: "Eklendi!",
                                    text: "Kaydınız eklendi.",
                                    icon: "success",
                                }).then(function () {
                                    debugger;
                                    var datatable = $('#kt_datatable').KTDatatable();
                                    console.log(datatable)
                                        datatable.row.add([
                                            StaffPaymentId,
                                            PaymentDate,
                                            IsPaid,
                                            InstallmentAmount,
                                        ]);
                                    console.log(datatable)
                                    debugger;
                                })
                            }

                        }

                    })
                }
            });
        }

        //update ınstallment

        function getInstallmentUpdateModal(id) {

            var modelContent = $("#InstallmentUpdateModalDiv")
            $("#InstallmentUpdateModalDiv").empty();

            $.ajax({
                method: "GET",
                url: "/TakePayment/GetInstallmentUpdateModal/" + id,
                dataType: "html",
                cache: false,
            }).done(function (content) {
                if (content != null) {
                    modelContent.html(content);
                }
                $("#staffInstallmentUpdateModal").modal("show");
            }).fail(function (error) {
                alert(error);
            });
        }

        function InstallmentAddModal(id) {
            $("#StaffPaymentId").val(id);
            $("#staffInstallmentAddModal").modal("show");

        }



        function ApproveInstallment(id) {
            Swal.fire({
                title: "Onaylamak ister misiniz ?",
                text: "Bunu geri alamazsınız!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Evet",
                cancelButtonText: "Hayır",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        method: "POST",
                        url: "/TakePayment/ApproveInstallment/" + id,
                    }).done(function (result) {
                        debugger;
                        if (result == true) {
                            Swal.fire({
                                title: "Onaylandı!",
                                text: "Ödeme Alındı.",
                                icon: "success",
                                showCancelButton: false
                            }).then(function () {
                                window.location.reload();
                            })

                        } else {
                            Swal.fire(
                                "Hata",
                                "Ödeme onaylanmadı",
                                "error"
                            )
                        }

                    })
                }
            });
        }
        function DeleteInstallment(id) {
            Swal.fire({
                title: "Silmek istediğinize emin misiniz ?",
                text: "Bunu geri alamazsınız!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Evet!",
                cancelButtonText: "Hayır!",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                        method: "POST",
                        url: "/TakePayment/DeleteInstallment/" + id,
                    }).done(function (result) {
                        if (result == true) {
                            Swal.fire({
                                title: "Silindi!",
                                text: "Kaydınız silindi.",
                                icon: "success",
                                showCancelButton: false
                            }).then(function () {
                                window.location.reload();
                            })

                        } else {
                            Swal.fire(
                                "Hata",
                                "Kaydınız silinemedi",
                                "error"
                            )
                        }

                    })
                }
            });
        }



    </script>
    <!--begin::Page Scripts(used by this page)-->
    <script src="~/assets/js/pages/crud/ktdatatable/child/data-ajax.js" charset="windows-1254"></script>
    <!--end::Page Scripts-->
}